@import "intermediate/variables";
@import "intermediate/nav";


.quoteHeader {
    display: flex;
    background-color: $c-highligh2;
    color: $c-secondary;
    height: 6.5vh;
    font-style: italic;
    justify-content: end;
    align-items: flex-end;
}


main {
    display: grid;
    justify-content: center;
    
    
    p{
        background-color: whitesmoke;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        color: $c-highligh2;
    }
}

.home {
    grid-template-columns: repeat(2, 40%);
    background-color: $c-secondary;
    img{
        border-radius: 20px;
        margin: 10px;
    }
}